body {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

    background: #008FE8;
}

/* NAVBAR */
nav > .container-fluid {
    margin: 5px;
}

.nav-link {
    transition: color 0.5s;
}

.nav-link:hover {
    
    color: #008FE8!important;
}